<div class="row">

    <div class="col-md-4" *ngFor="let game of games ">

        <div class="card text center">
            <card class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                {{game.title}}
                <button class='btn btn-danger' (click)="deleteGame(game.id)">
                    <i class="fa fa-trash"></i>
                </button>
            </card>
            <img [src]="game.image" class="card-img-top" alt="">
             
            <card class="card-body">
                <p>{{game.description}}</p>
                <a  class='btn btn-info btn-block' (click)="editGame(game.id)">
                    Edit Game
                </a>
    
            </card>
        </div>
    
    </div>
</div>
 
 
